@import 'bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line-with-dots {
  margin-top: 10px; /* Adjust spacing below the text */
  width: 80%; /* Adjust the width of the line */
  height: 1px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.line-with-dots::before,
.line-with-dots::after {
  content: '';
  width: 6px; /* Size of the circles */
  height: 6px;
  background-color: black;
  border-radius: 50%;
}
.bg-watermark {
  position: relative;
  z-index: 0; /* Assure que le contenu reste au-dessus */
}

.bg-watermark::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/3IAC.png'); /* Chemin vers votre image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  filter: blur(5px); 
  z-index: -1; /* Place l'image derrière le contenu */
}